<mvc:View
	controllerName="<%= props.target%>.<%= props.name %>"
	xmlns:mvc="sap.ui.core.mvc"
	xmlns="sap.m"
	xmlns:core="sap.ui.core"	
	xmlns:pg="sicap-controls.paginator"
	height="100%">
	<Page 
		showNavButton="true" 
		title="{i18n>Title.<%= props.name %>}" 
		navButtonPress="onNavBack">
		
		<content>		
			<Table 
			id="id<%= props.name %>Table"
			inset="false"
			alternateRowColors="true"
			items="{<%= props.name %>>/}">
			<headerToolbar>
				<Toolbar>
					<SearchField id="id<%= props.name %>SearchField" search="onSearchFieldClickHandler" liveChange="onSearchFieldChangeHandler" placeholder="{i18n>Placeholder.Find}"  width="100%" />
					<ToolbarSpacer/>
					<Button enabled="{controlModel>/Adicionar}" icon="sap-icon://add" type="Emphasized"   text="{i18n>Action.New}"  press="onNewPress"/>
				</Toolbar>
			</headerToolbar>
			<columns>
				<Column
					width="12em">
					<Text text="{i18n>Title.Id}" />
				</Column>
				<Column
					minScreenWidth="Tablet"
					demandPopin="true">
					<Text text="{i18n>Title.Description}" />
				</Column>
				<Column
					width="104px" 
					minScreenWidth="Tablet"
					demandPopin="true"
					hAlign="Center">
					<Text text="{i18n>Title.Actions}" />
				</Column>
			</columns>
			<items>
				<ColumnListItem vAlign="Middle">
					<cells>
						<ObjectIdentifier							
							 title="{<%= props.name %>>Id}"/>
						<Text
							text="{<%= props.name %>>Descricao}" />
						<HBox alignItems="Center" > 
							<Button class="sapUiTinyMarginEnd" enabled="{= ${controlModel>/Adicionar} || ${controlModel>/Editar} || ${controlModel>/Visualizar}}" tooltip="{= ${controlModel>/Editar} ? ${i18n>Action.Edit} : ${i18n>Action.View}}" icon="{= (${controlModel>/Editar}) ? 'sap-icon://edit' : 'sap-icon://show'}" type="Ghost" press="onEditPress" />
							<Button class="sapUiTinyMarginEnd" enabled="{controlModel>/Remover}" icon="sap-icon://delete" type="Reject" press="onDeletePress" />
						</HBox>
					</cells>
				</ColumnListItem>
			</items>
			</Table>
			<pg:Paginator 
				id="id<%= props.name %>TablePaginator"
				onAfterGetTotalRecords="onPaginatorAfterGetTotalRecords"
				onAfterGetPageRecords="onPaginatorAfterGetPageRecords"
				onGetFilterExpression="onPaginatorGetFilterExpression">
			</pg:Paginator>
		</content>	
	</Page>
</mvc:View>
