<mvc:View
	controllerName="<%= props.target%>.<%= props.name %>"
	xmlns:mvc="sap.ui.core.mvc"
	xmlns="sap.m"
	xmlns:core="sap.ui.core"	
	height="100%">
	<Page 
		showNavButton="true" 
		title="{i18n>Title.<%= props.name %>}" 
		navButtonPress="onNavBack">
		
		<content>		
			<Table 
			inset="false"
			alternateRowColors="true"
			items="{<%= props.name %>>/}">
			<headerToolbar>
				<OverflowToolbar>
					<SearchField  placeholder="{i18n>Input.Find<%= props.name %>}"  width="40%" />
					<Button  icon="sap-icon://sort"   press="onSortReverse"/>
					<ToolbarSpacer/>
					<Button  icon="sap-icon://add" type="Emphasized"   text="{i18n>Action.New}"  press="onNewPress"/>

				</OverflowToolbar>
			</headerToolbar>
			<columns>
				<Column
					width="12em">
					<Text text="{i18n>Title.Id}" />
				</Column>
				<Column
					minScreenWidth="Tablet"
					demandPopin="true">
					<Text text="{i18n>Title.Description}" />
				</Column>
				<Column
					width="84px" 
					minScreenWidth="Tablet"
					demandPopin="true"
					hAlign="Center">
					<Text text="{i18n>Title.Actions}" />
				</Column>
			</columns>
			<items>
				<ColumnListItem vAlign="Middle">
					<cells>
						<ObjectIdentifier							
							 title="{<%= props.name %>>Id}"/>
						<Text
							text="{<%= props.name %>>Descricao}" />
						<HBox justifyContent="SpaceBetween" alignContent="SpaceBetween" > 
							<Button  icon="sap-icon://edit"  press="onEditPress"  type="Default" />
							<Button  icon="sap-icon://delete" press="onDeletePress" type="Reject"    />
						</HBox>
					</cells>
				</ColumnListItem>
			</items>
		</Table>
		</content>	
	</Page>
</mvc:View>
